body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-image: linear-gradient(to bottom right, #212121,#d53600);
}
table {
    width: 100%;
}
table, th, td{
    border-collapse: collapse;
    border: 2px solid brown;
    padding: 10px;
}
h1, h6, ul, ol{
    color: orange;
}
thead {
    color: orange;
    font-size: 45px;
}
header {
    text-align: center;
    font-size: 20px;
}