body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: black;
}
table {
    width: 100%;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid brown;
    padding: 10px;
}
h1, h6, ul, ol {
    color: orange;
}
